<h1>Inventory Tracker</h1>

<% if current_user %>
    <button><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
    <br/>
    <%= link_to 'Account', users_path %> |
    <%= link_to 'Categories', categories_path %> |
    <%= link_to 'Products', products_path %>
<% else %>
    <button><%= link_to 'Login', new_user_session_path %></button>
<% end %>

<div class="container-fluid" ng-app="receta">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>