<h1>Inventory Tracker</h1>

<% if current_user %>
    <button><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
    <br/>
    <%= link_to 'Account', users_path %> |
    <%= link_to 'Categories', categories_path %> |
    <%= link_to 'Products', products_path %>
<% else %>
    <button><%= link_to 'Login', new_user_session_path %></button>
<% end %>
