<%= form_with(model: product, local: true, html: { multipart: true }) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description %>
  </div>

  <div class="field">
     <%= form.file_field :image %>
  </div>

  <div>
  <label>Category:
  <input list="categories" name="myCategory" /></label>
  <datalist id="categories">
    <% @categories.each do |category| %>
      <% if category.user_id == current_user.id %>
        <option value="<%= category.name %>">
      <% end %>
    <% end %>
  </datalist>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

